@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-peop:before {
  content: "\e926";
}
.icon-f_iocn_01:before {
  content: "\e900";
}
.icon-f_iocn_02:before {
  content: "\e901";
}
.icon-f_iocn_03:before {
  content: "\e902";
}
.icon-icon_n01:before {
  content: "\e903";
}
.icon-icon_n02:before {
  content: "\e904";
}
.icon-icon_n03:before {
  content: "\e905";
}
.icon-icon_n04:before {
  content: "\e906";
}
.icon-icon_n05:before {
  content: "\e907";
}
.icon-icon_n06:before {
  content: "\e908";
}
.icon-icon_n07:before {
  content: "\e909";
}
.icon-icon_n08:before {
  content: "\e90a";
}
.icon-icon_n09:before {
  content: "\e90b";
}
.icon-icon_user:before {
  content: "\e90c";
}
.icon-icon_01:before {
  content: "\e90d";
}
.icon-chevron-down:before {
  content: "\e90e";
}
.icon-chevron-left:before {
  content: "\e90f";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-chevron-up:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e912";
}
.icon-x:before {
  content: "\e913";
}
.icon-icon_c01:before {
  content: "\e914";
}
.icon-icon_c02:before {
  content: "\e915";
}
.icon-icon_c03:before {
  content: "\e916";
}
.icon-icon_c04:before {
  content: "\e917";
}
.icon-icon_c05:before {
  content: "\e918";
}
.icon-icon_cam:before {
  content: "\e919";
}
.icon-icon_fb:before {
  content: "\e91a";
}
.icon-icon_home:before {
  content: "\e91b";
}
.icon-icon_q:before {
  content: "\e91c";
}
.icon-icon_smile:before {
  content: "\e91d";
}
.icon-icon_start:before {
  content: "\e91e";
}
.icon-icon_update:before {
  content: "\e91f";
}
.icon-icon_voice:before {
  content: "\e920";
}
.icon-icon_search:before {
  content: "\e921";
}
.icon-check:before {
  content: "\e922";
}
.icon-circle:before {
  content: "\e923";
}
.icon-minus:before {
  content: "\e924";
}
.icon-plus:before {
  content: "\e925";
}
.icon-brand:before {
  content: "\e927";
}
.icon-triangle-down:before {
  content: "\e928";
}
.icon-check2:before {
  content: "\e929";
}